###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [4]:
df1 = pd.read_csv("/content/college_1.csv")

print(df1.shape)
df1.head()

(84, 7)

          Name  python  ...                        Department  Rising
0    A.Dharani    82.0  ...  Computer Science and Engineering       0
1  V.JEEVITHA     82.0  ...  Computer Science and Engineering       0
2  HEMAVATHI.R   100.0  ...  Computer Science and Engineering       0
3  Mugunthan S   100.0  ...  Computer Science and Engineering       0
4  Sathammai.S   100.0  ...  Computer Science and Engineering       0

[5 rows x 7 columns]

In [5]:
df2 = pd.read_csv("/content/college_2.csv")

print(df2.shape)
df2.head()

(35, 9)

                Name  python  ...                                 Department  Rising
0      ASHOK KUMAR K     100  ...     Electronics and Electrical Engineering       0
1            Chandru       0  ...           Computer Science and Engineering     340
2  Ganesh Ramkumar R      -1  ...           Computer Science and Engineering    2000
3    Bodipudi Harini      -1  ...  Electronics and Communication Engineering       0
4          VIINU V P      -1  ...     Electronics and Electrical Engineering       0

[5 rows x 9 columns]

In [6]:
df = pd.concat([df1,df2])

print(df.shape)
df

(119, 9)

             Name  python  mysql  ...  Rising  python_en computational_thinking
0       A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1     V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2     HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN
3     Mugunthan S   100.0   47.0  ...       0        NaN                    NaN
4     Sathammai.S   100.0    8.0  ...       0        NaN                    NaN
..            ...     ...    ...  ...     ...        ...                    ...
30  praveen raj j    24.0    0.0  ...       0       -1.0                    0.0
31     AMARNATH D    -1.0   12.0  ...       0       52.0                   -1.0
32           bala    32.0    0.0  ...       0       49.0                   -1.0
33           XY Z    -1.0   -1.0  ...       0       20.0                   -1.0
34      Hariharan    -1.0   -1.0  ...       0       -1.0                    0.0

[119 rows x 9 columns]

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [7]:
# consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

exceed = df[df['CodeKata Score']>15000]
exceed.reset_index(drop=True)

            Name  python  mysql  ...  Rising  python_en computational_thinking
0      A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1    V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2    HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN
3  ASHOK KUMAR K   100.0   31.0  ...       0        0.0                    9.0

[4 rows x 9 columns]

In [24]:
exceed.to_csv("Exceeded expectations.csv",index=False)

In [9]:
# if 10000<codekata score<15000 (Reached_expectations.csv)

reached = df[(df['CodeKata Score']>10000) & (df['CodeKata Score']<15000)]
reached.reset_index(drop=True)

                Name  python  mysql  ...  Rising  python_en computational_thinking
0        Mugunthan S   100.0   47.0  ...       0        NaN                    NaN
1            Chandru     0.0    0.0  ...     340       20.0                    0.0
2  Ganesh Ramkumar R    -1.0   24.0  ...    2000       55.0                    6.0
3    Bodipudi Harini    -1.0   35.0  ...       0        0.0                   -1.0

[4 rows x 9 columns]

In [25]:
reached.to_csv("Reached_expectations.csv",index=False)

In [11]:
# if 7000<codekata score<10000 (Needs_Improvement.csv)

improve = df[(df['CodeKata Score']>7000) & (df['CodeKata Score']<10000)]
improve.reset_index(drop=True)

                      Name  python  ...  python_en  computational_thinking
0              Sathammai.S   100.0  ...        NaN                     NaN
1             NIVEESHWAR S   100.0  ...        NaN                     NaN
2            KALAIARASAN K    85.0  ...        NaN                     NaN
3     MOHAMED ZUBAIR AHMED    82.0  ...        NaN                     NaN
4                VIINU V P    -1.0  ...      100.0                    -1.0
5               Poojitha Y     0.0  ...       78.0                     0.0
6   Gowtham Chandrasekaran    -1.0  ...        0.0                     3.0
7                Gowtham R    -1.0  ...       60.0                     6.0
8                 shifak N    58.0  ...        0.0                     0.0
9                  Balaji     -1.0  ...      100.0                     0.0
10                Rushitha    -1.0  ...       15.0                     9.0
11    Balaraman Muthupandi    -1.0  ...        9.0                     0.0
12                JPradhap   100.0  ...        0.0                     0.0
13           SRIRAMKUMAR B    -1.0  ...        0.0                     0.0
14               Praneetha    -1.0  ...       23.0                    -1.0
15             Rahul Raj K    -1.0  ...        0.0                     0.0
16                 Guhan S    -1.0  ...       72.0                    39.0
17            Suryarajan S    -1.0  ...       63.0                     0.0

[18 rows x 9 columns]

In [26]:
improve.to_csv("Needs_Improvement.csv",index=False)

In [13]:
# if codekate score < 7000 (Unsatisfactory.csv)

unsatisfied = df[df['CodeKata Score']<7000]
unsatisfied.reset_index(drop=True)

               Name  python  mysql  ...  Rising  python_en computational_thinking
0        J.SUGANTHI    27.0  50.00  ...       0        NaN                    NaN
1      thamizhpaana    29.0   0.00  ...       0        NaN                    NaN
2   Iyappan Samiraj    50.0  24.00  ...       0        NaN                    NaN
3      Ponniyamma.R   100.0  11.25  ...       0        NaN                    NaN
4         SABAPATHI   100.0   0.00  ...       0        NaN                    NaN
..              ...     ...    ...  ...     ...        ...                    ...
88    praveen raj j    24.0   0.00  ...       0       -1.0                    0.0
89       AMARNATH D    -1.0  12.00  ...       0       52.0                   -1.0
90             bala    32.0   0.00  ...       0       49.0                   -1.0
91             XY Z    -1.0  -1.00  ...       0       20.0                   -1.0
92        Hariharan    -1.0  -1.00  ...       0       -1.0                    0.0

[93 rows x 9 columns]

In [27]:
unsatisfied.to_csv("Unsatisfactory.csv",index=False)

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [15]:
df['Previous Geekions'].mean(), df['CodeKata Score'].mean()

(3842.3529411764707, 4051.764705882353)

###### No of students participated

In [16]:
len(df['Name'].unique())

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [17]:
print(df['python'].mean())
print(df['mysql'].mean())
print(df['python_en'].mean())
print(df['computational_thinking'].mean())

54.35294117647059
23.5
29.65714285714286
2.2

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [18]:
df.sort_values('CodeKata Score',ascending=False)[:3]

          Name  python  mysql  ...  Rising  python_en computational_thinking
0    A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1  V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2  HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN

[3 rows x 9 columns]

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [19]:
df.sort_values('Previous Geekions',ascending=False)[:3]

          Name  python  mysql  ...  Rising  python_en computational_thinking
0    A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1  V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2  HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN

[3 rows x 9 columns]

###### Department wise codekata performence (pie chart)

In [20]:
fig = px.pie(df,values='CodeKata Score',names='Department')
fig.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [21]:
df1 = df.sort_values('CodeKata Score',ascending=True)
fig = px.bar(df1,'Department','CodeKata Score',color='Previous Geekions',hover_name='Name')
fig.show()